
body {
background-color: #E0E1E1;
}

#pokedex-title {
  margin-left: 45px;
  color: #28536B;
  font-size: 100px;
}
.pokemon-list {
  font-size: 22px;
  font-weight: bold;
  list-style-type: none;
  margin-top: 60px;
}

.btn-primary {
  color: #E0FADB;
  background-color: #28536B;
  border-radius: 20px;
  border-right: 1px solid rgba(0, 0, 0, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  border-top: none;
  border-left: none;
  margin-bottom: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-primary:hover {
  transition: 300ms;
  transform: translatex(10px);
  color: #28536B;
  background-color: #E0FADB;
  border-radius: 20px;
  border: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
}

.modal-header {
  background-color: #E0E1E1;
}

h1 {
  font-size: 50px;
  color: #28536B;
}

.modal-body {
  background-color: #E0E1E1;
  font-size: 30px;
  color: #28536B;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}
