body {
  background-color: #b3b4b4;
}

.navbar {
  background-color: #ffffff;
}

.pokemon-list {
  font-size: 22px;
  font-weight: bold;
  list-style-type: none;
  margin-top: 60px;
}

.btn-primary {
  color: #ffffff;
  background-color: #28536b;
  border-radius: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  border-left: none;
  margin-bottom: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-primary:hover {
  transition: 300ms;
  transform: translatex(10px);
  color: #28536b;
  background-color: #cfcffc;
  border-radius: 10px;
  border: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #ffffff;
}

h1 {
  font-size: 40px;
  color: #28536b;
}

.modal-body {
  background-color: #b3b4b4;
  font-size: 25px;
  color: #28536b;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}
